{% extends "base.html" %}
{% load static %}

{% block body %}


<main >


    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" style='height:70vh !important;'>
          <div class="carousel-item active">
            <img src="{% static 'img/car1.jpg' %}" class="d-block w-100" alt="..."  style='height:70vh !important; object-fit: cover !important; object-position: 0px -300px;'>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/car2.jpg' %}" class="d-block w-100" alt="..."  style='height:70vh !important; object-fit: cover !important; object-position: 0px -400px;'>
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/car3.jpg' %}" class="d-block w-100" alt="..."  style='height:70vh !important; object-fit: cover !important;'>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  
    <div class="album py-5">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for post in posts %}
          <div class="col">
            <div class="card shadow-sm">
              <a href="{% url 'detail' post.id %}" style="display: block;">
                <img style="height: 200px; width: 100%; object-fit: cover;" src="{{ post.image.url }}" alt="">
                <div class="card-header">
                  <h3>{{ post.title }}</h3>
                </div>
              </a>
              <div class="card-body">
                <p class="card-text">{{ post.text }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{% url 'detail' post.id %}"><button type="button" class="btn btn-sm btn-outline-secondary">İncele</button></a>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Düzenle</button>
                  </div>
                  <small class="text-muted">{{ post.new_date }}</small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div> 
          
  
  </main>

  {% endblock body %}