
{% extends "base.html" %}
{% load static %}

{% block body %}
{% if urunler %}
<div class="row">
    <div class="col">

        {% for i in urunler %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ i.car.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                <h5 class="card-title">{{ i.car.title }}</h5>
                <p class="card-text">Fiyat: {{ i.fiyat }} TL</p>

                <form action="" method="POST" class="align-items-center">
                    {% csrf_token %}
                    <label for="number">Adet:</label>
                    <input type="number" name="number{{ i.id }}" value="{{ i.adet }}" min="1" class="py-2 form-control d-inline-flex" style="width:70px;">
                    <button type="submit" class="btn btn-primary">Ürünü güncelle</button>

                    <a  class="btn btn-danger" href="{% url 'deletesepet' i.id %}">X</a>
                </form>
                
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
        <h2 style="color: white;">Toplam fiyat</h2>
        <h3 style="color: white;">{{ toplamfiyat }}</h3>
        {% else %}
        <h3 style="color: white;">Sepet boş</h3>
        {% endif %}
    </div>
</div>
{% endblock body %}